<h2>LM Systems LLC</h2>
<mat-card>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="enteredValue"></textarea>
  </mat-form-field>
  <button
  mat-raised-button
  color="warn"
  (click)="onAddPost()">Save Post</button>
</mat-card>
<p>{{ newPost }}</p>


<mat-card>
  <mat-form-field>
    <textarea matInput rows="6" [value]=" " #postInput></textarea>
  </mat-form-field>
  <button
  mat-raised-button
  color="primary"
  (click)="onAddPost()">Save Post</button>
</mat-card>
<p>{{ newPost }}</p>




